.navbar-custom {
    background-color: #003366 !important; /* Dark Blue */
    padding: 10px 0;
}
.navbar-custom .nav-link {
    color: rgb(255, 255, 255) !important; 
}
.navbar-custom {
    height: auto;
    padding: 15px 0;
}

.navbar-custom .login-btn {
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 5px;
    text-decoration: none;
}
.navbar-custom .login-btn:hover {
    background-color: #e5e5e5;
}

