.page-header {
    min-height: 198px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('/primary-bg.svg');
    background-size: cover;
    padding: 0 0.8rem;
    overflow: hidden;
    border-bottom: 0.1rem solid #fff;
    padding-bottom: 0;
    margin: 0 0 3.2rem;
    font-size: 0;
}



@font-face {
    font-family: 'PremierSans';
    src: url('/font/PremierSans.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal;
}

.page-header__title {
    position: relative;
    z-index: 10;
    font-family: 'PremierSans', Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    font-size: 4.000rem;
    line-height: 7.0rem;
    color: #fff;
}

body, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    justify-content: center;
    background-color: #fff;
    border-bottom: 2px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}
ul {
    display: block;
    list-style-type: disc;
    /* margin-block-start: 1em; */
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}
.subNav li {
    float: left;
    margin-left: 0;
    margin-right: 0;
    height: 100%;
}
.navbar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.navbar-item {
    margin: 0 1rem;
}

.navbar-item a {
    text-decoration: none; 
    font-size: 1rem;
    color: #333;
    text-transform: capitalize;
    transition: color 0.3s ease; 
}

.navbar-item a:hover {
    color: #007bff; 
    border-bottom: 2px solid #007bff; 
    padding-bottom: 0.2rem;
}


